<!DOCTYPE html>
<html>
<head>
　<div id="header">
  <a href="login_page.html" style="position:relative;top:15px;"><img src="https://i.imgur.com/yi3dkDh.png" width="175" height="75"></a>
  </div>
  <div id="nav"></div>
</head>
<body>
  <!-- css -->
  <link  rel="stylesheet" type="text/css" href="main_style.css">
  <style >
    
  </style>
  <div id="sitebody" align="center"> 
　<div id="content">
   <form action="" method="get">
	<fieldset>
	<legend>忘記密碼</legend>
    	<p align='center' valign="middle">請輸入您的電子信箱： <input type="text" name="email"/></p>
	<input type="submit" value="傳送"/>
	</fieldset>
   </form>
  </div>
　<div id="footer"></div>
</div>
</body>
</html>