<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<head>
  <title>Log book</title>
  <!-- css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-neptune/resources/theme-neptune-all.css" rel="stylesheet">
  <link th:href="@{/css/main_style.css}" type="text/css" href="../static/css/main_style.css" rel="stylesheet" />
  <!-- js -->
  <script type="text/javascript" src="../static/js/alert.js" th:src="@{/js/alert.js}"></script>
  <script src="../static/extjs/ext-all.js" rel="external nofollow" th:src="@{/extjs/ext-all.js}" ></script>
  <script src="../static/extjs/grid.js" th:src="@{/extjs/grid.js}"></script>

  <div id="header" >
    <!-- DBS image -->
    <a th:href="@{hello}" style="position:relative;top:15px;"><img th:src="@{images/dbs_image.png}" src="../static/images/dbs_image.png" width="175" height="75"></a>
  </div>
  <div id="nav"></div>
</head>

<body>
<div class="alert alert-primary" role="alert" th:if="${success}"><script>deleteSuccess()</script></div>
<div class="alert alert-danger" role="alert" th:if="${error}"><script>deleteFailed()</script></div>　

<div id="grid">

</div>
</body>

</html>