<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-neptune/resources/theme-neptune-all.css" rel="stylesheet">
<!--    <script src="https://cdn.bootcss.com/extjs/6.0.0/ext-all.js" rel="external nofollow" ></script>-->
    <script src="../static/extjs/ext-all.js" rel="external nofollow" ></script>
<!--    <script src="../static/extjs/grid.js"></script>-->
    <!-- <script src="../static/extjs/grid.js"></script> -->
    <script src="../static/extjs/test.js"></script>

</head>
<body>
<div id="example"></div>
</body>
</html>